 body {
     margin: 2% 5%;
 }
 .container {
     border: 4px solid rgb(150, 146, 144);
     display: flex;
     flex-direction: column;
     height: 400px;
     flex-wrap: wrap-reverse;

 }
 .flex-item {
     color: rgb(70, 69, 68);
     font-size: 1.5rem;
     padding: 1rem;
     text-align: center;
 }
 .item-1 {
     background-color: rgb(247, 70, 70);
 }
 .item-2 {
    background-color: rgb(247, 70, 179);
}
.item-3 {
    background-color: rgb(197, 70, 247);
}
.item-4 {
    background-color: rgb(82, 70, 247);
}
.item-5 {
    background-color: rgb(70, 182, 247);
}
.item-6 {
    background-color: rgb(70, 247, 173);
}
.item-7 {
    background-color: rgb(141, 247, 70);
}
.item-8 {
    background-color: rgb(221, 247, 70);
}
.item-9 {
    background-color: rgb(247, 150, 70);
}